/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header {
    height: 55px;
  }
  header .mainTitle {
    font-size: 32px;
    top: 8px;
  }
  .addToDoArea {
    width: 600px;
    grid-gap: 20px;
    padding: 10px 10px;
  }
  .addToDoArea .inputWrapper input {
    height: 36px;
    font-size: 15px;
  }
  .addToDoArea .buttonWrapper button {
    height: 39px;
    font-size: 12px;
    letter-spacing: 3px;
    padding-left: 14px;
  }
  .addToDoArea .buttonWrapper button:hover {
    font-size: 10px;
    border: 5px solid black;
  }
  .addToDoArea .buttonWrapper button:active {
    font-size: 7px;
  }
  .tasksArea {
    margin-top: 35px;
  }
  .tasksArea .title {
    font-size: 17px;
  }
  .tasksArea .toDoItem {
    width: 620px;
    height: 60px;
  }
  .tasksArea .toDoItem .checkboxCompleteTask .checkbox-other .customCheckbox {
    width: 22px;
    height: 22px;
  }
  .tasksArea .toDoItem .taskDescription {
    font-size: 16px;
  }
  .tasksArea .toDoItem .btnDelete {
    font-size: 12px;
    letter-spacing: 1.7px;
  }
  .tasksArea .toDoItem .btnDelete:active {
    font-size: 9px;
  }
  .tasksArea .toDoItem.checked {
    margin-left: 10px;
    width: 600px;
  }
  .tasksArea .toDoItem.checked .taskDescription {
    font-size: 14px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  header {
    height: 45px;
    -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
            box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
  }
  header .mainTitle {
    font-size: 25px;
    top: 10px;
  }
  .addToDoArea {
    width: 430px;
    grid-gap: 20px;
    padding: 10px 10px;
    -webkit-box-shadow: 7px 6px 12px rgba(0, 0, 0, 0.15), 0 8px 24px rgba(0, 0, 0, 0.15);
            box-shadow: 7px 6px 12px rgba(0, 0, 0, 0.15), 0 8px 24px rgba(0, 0, 0, 0.15);
  }
  .addToDoArea .inputWrapper input {
    height: 31px;
    font-size: 13px;
  }
  .addToDoArea .buttonWrapper button {
    height: 34px;
    font-size: 9px;
    letter-spacing: 2px;
    padding-left: 8px;
  }
  .addToDoArea .buttonWrapper button:hover {
    font-size: 9px;
    letter-spacing: 2px;
    border: none;
    background-color: black;
    color: white;
  }
  .addToDoArea .buttonWrapper button:active {
    font-size: 8px;
    letter-spacing: 1.7px;
    border: 1px solid black;
    background-color: #35e035;
    color: black;
  }
  .tasksArea {
    margin-top: 20px;
  }
  .tasksArea .title {
    font-size: 14px;
  }
  .tasksArea .toDoTaskWrapper {
    margin-top: 15px;
  }
  .tasksArea .toDoItem {
    width: 450px;
    height: 45px;
    border-radius: 0 15px;
    margin-bottom: 25px;
    -webkit-box-shadow: 7px 6px 12px rgba(0, 0, 0, 0.15), 0 8px 24px rgba(0, 0, 0, 0.15);
            box-shadow: 7px 6px 12px rgba(0, 0, 0, 0.15), 0 8px 24px rgba(0, 0, 0, 0.15);
  }
  .tasksArea .toDoItem .checkboxCompleteTask .checkbox-other .customCheckbox {
    width: 16px;
    height: 16px;
  }
  .tasksArea .toDoItem .taskDescription {
    font-size: 12px;
  }
  .tasksArea .toDoItem .btnDelete {
    font-size: 7px;
    letter-spacing: 1.8px;
    border-radius: 0 15px;
  }
  .tasksArea .toDoItem .btnDelete:active {
    font-size: 4px;
  }
  .tasksArea .toDoItem.checked {
    margin-left: 6.5px;
    width: 435px;
  }
  .tasksArea .toDoItem.checked .taskDescription {
    font-size: 10px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  header {
    height: 40px;
    -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 4px rgba(0, 0, 0, 0.15);
  }
  header .mainTitle {
    font-size: 20px;
    top: 9px;
  }
  .addToDoArea {
    width: 350px;
    padding: 8px 8px;
    grid-gap: 5px;
    -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.15);
            box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.15);
  }
  .addToDoArea .inputWrapper input {
    height: 25px;
    width: 250px;
    font-size: 11px;
    letter-spacing: 0.5px;
  }
  .addToDoArea .buttonWrapper button {
    height: 28.5px;
    font-size: 8px;
    letter-spacing: 1px;
    padding-left: 8px;
  }
  .addToDoArea .buttonWrapper button:hover {
    font-size: 8px;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    border: none;
  }
  .addToDoArea .buttonWrapper button:active {
    font-size: 6px;
    border: 2px solid black;
    color: black;
    background-color: #35e035;
  }
  .tasksArea {
    margin-top: 30px;
  }
  .tasksArea .title {
    font-size: 14px;
    letter-spacing: 1.3px;
  }
  .tasksArea .toDoTaskWrapper {
    margin-top: 20px;
  }
  .tasksArea .toDoItem {
    width: 366px;
    height: 40px;
    border-radius: 0 10px;
    -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.15);
            box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.15);
  }
  .tasksArea .toDoItem .checkboxCompleteTask {
    padding-top: 4px;
  }
  .tasksArea .toDoItem .checkboxCompleteTask .checkbox-other .customCheckbox {
    width: 12px;
    height: 12px;
  }
  .tasksArea .toDoItem .taskDescription {
    font-size: 12px;
    letter-spacing: 0.5px;
    width: 250px;
  }
  .tasksArea .toDoItem .btnDelete {
    font-size: 8px;
    letter-spacing: 1.3px;
    border-radius: 0 10px;
  }
  .tasksArea .toDoItem .btnDelete:active {
    font-size: 4px;
    letter-spacing: 1px;
  }
  .tasksArea .toDoItem.checked {
    margin-left: 5px;
    width: 355px;
  }
  .tasksArea .toDoItem.checked .taskDescription {
    font-size: 11px;
  }
  .tasksArea .toDoItem.checked .btnDelete {
    font-size: 7px;
  }
}

/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*# sourceMappingURL=media.css.map */